.cardIntro{
    margin: 10%;
    margin-bottom: 5%;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.cardItems{
    margin-left: 20% ;
    margin-right: 20%;
}
.gallery{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-top: 10px;
}
.gallery2{
    display: flex; 

}
.imageAbout{
    margin: 10px; 
    max-width: calc(33.33% - 20px);
    padding: 15px;
}
.imagensPessoal{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    margin: 5px;
}
@media screen and (max-width: 768px) {
    .imageColumn {
        width: calc(50% - 20px);
    }
    .responsive{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }  
    .card-horizontal{
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {
    .imageColumn {
        width: 100%;
    }
    .responsive{
        flex-direction: row;
    }
    .card-horizontal{
        flex-direction: column;
    }
}
.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);  
  }
.tituloGaleria{
    font-size: 36;
    text-align: center;
}
.namesCards{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}