.body-1part{
    background-color: #FFAE2E;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px;
    padding-top: 40px;
}
.titleAnimation-1part{
    animation-name: titleAnimation;
    animation-timing-function:ease;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}
.titleAnimation-1part-text{
    animation-delay: 0.5s; 
}
.titulo-1part-size{
    left: 20px;
    font-weight: bold;
    font-size: 60px;
    margin: auto;
    font: 700 normal 4em/1.5 'Montserrat',sans-serif;
}
.conteudo-horizontal-1part{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin: 7%;
}
.titulo-1part-text{
    margin-right: 5%; 
    font-size: 28px;
    font-weight: bold;
}
.button-1part{
    display: inline-block;
    background-color: #2163d3;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    font-family: "Anonymous Pro", monospace;
    cursor: pointer; 
    border-width: 4px;
    border-color:  #204F99 ;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: transform 0.2s ease;
}
.button-1part:hover{
    transform: scale(1.1);
}
.text-1part {
    margin-right: 5%; 
    font-size: 18px;
    color: #7e3e15;
}
.img-1part {
    margin-left: 10%;
    width: 700px;
    height: 400px;  
    top: 30px;
}
@keyframes titleAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
      }
      20% {
        transform: translateY(0);
        opacity: 1;
      }
}